<!DOCTYPE html>{% load static bootstrap %}
<html lang="ru" class=" js no-touch">
  <head>
    {% block title %} {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-team-slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {{ form.media }}

  </head>
  <body>
    {% block after-body %}{% endblock %}
    <!--HEADER START-->
    <div class="main-navigation navbar-fixed-top">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MIPT feed</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul id = "login-button" class="nav navbar-nav navbar-right">
                {{ user }}
                {% if user.is_anonymous %}
                    <li><a href = "/users/login">Войти</a></li>
                {% else %}
                     <li><a href = "/users/logout">Выйти</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#all">Все</a></li>
              <li><a href="{% url 'users:social:begin' 'vk-oauth2' %}">Мое</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!--HEADER END-->

    <div class="container">
      {% block content %} {% endblock %}
    </div>


  </body>
</html>
