{% extends 'base.html' %}

{% block content %}
<div class="row">
  {% for event in object_list %}
  <!-- Card Projects -->
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-title">{{ event.title }}</div>

      <div class = "card-time">{{ event.date }}</div>

      <div class = "card-place">{{ event.place }}</div>

      <div class="card-content">
	<p>{{ event.description }}</p>
      </div>

      <div class="card-action">
	<a href="{% url 'events:event-detail' pk=event.pk %}" target="new_blank">Подробнее</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
